.App {
  text-align: center;
  background-color: #05140c;
  min-height: 100vh;
  font-size: 30px;
  color: white;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: "red";
}
